.burger__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: max(30vw,150px);
  height: min-content;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  border-radius: 20px;
  border: none;
}
