.burger__item {
  display: block;
  padding: 12px 24px;
  color: #101010;
  font-family: 'Montserat','Inter', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: 1.2s;
}
.burger__item:hover {
  color: rgb(0, 0, 0, 0.4);
}
