.contacts {
  margin: 0;
  padding: 5vw 5vw 0 5vw;
  display: grid;
  grid-template-areas:
  'title title'
  'map text'
  ;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 40px;
  row-gap: 80px;
  background-image: linear-gradient(to top,#c4969e66 80%, #f3f0f4 98%);
  box-sizing: border-box;
}
@media screen and (max-width:700px){
  .contacts{
    grid-template-areas:
  'title'
  'text'
  'map'
  ;
  grid-template-columns: 1fr;
  row-gap: 20px;
  }
}
