.contacts {
  margin: 0;
  padding: 5vw 0 0 0;
  display: grid;
  grid-template-areas:
  'title title'
  'map text'
  ;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 0;
  row-gap: 0;
  background-image: linear-gradient(to top,#c4969e66 80%, #f3f0f4 98%);
  box-sizing: border-box;
}
@media screen and (max-width:700px){
  .contacts{
    height: min-content;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    padding: 5vw 0 0 0;
  }
}
