.page{
  padding: 0;
  margin: 0 auto;
  max-width: 1600px;
  min-width: 320px;
  width: 100%;
  background-color: #f3f0f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #f3f0f4;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
