.contacts__route {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  grid-area: map;
  align-items: top;
}
@media screen and (max-width:700px){
  .contacts__route{
    margin-left: -5vw;
    width: 100vw;
  }
}
