.header__button {
  padding: 0;
  margin: 0;
  width: 12vw;
  min-width: 120px;
  max-width: 179px;
  height: 3vw;
  min-height: 30px;
  max-height: 38px;
  background-color: #c4969e;
  color: #ffffff;
  border: none;
  border-radius: 36px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  box-shadow:  0 4px 10px 0 rgba(0,0,0,0.2);
}

.header__button:hover {
  background-color: #ffffff;
  color: #c4969e;
}
