.main__address-box {
  margin: 0;
  padding: 0 20px 20px 20px;
  border: solid #ffffff 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
}
