.price__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Montserat','Inter', Arial, sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #000000;
}
@media screen and (max-width: 400px){
  .price__title{
    font-size: 30px;
  }
}
