.main__button {
  margin: 0;
  padding: 0;
  max-width: 365px;
  min-width: 300px;
  width: 23vw;
  min-height: 50px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 36px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  box-shadow:  0 4px 10px 0 rgba(0,0,0,0.2);
}

.main__button:hover {
  background-color: #ffffff;
  color: #c4969e;
}
@media screen and (max-width: 700px) {
  .main__button{
   margin-bottom: 70px;
  }
}
